[submodule "django_deploy_with_ansible"] 
	path = deploy
	url = https://github.com/asselapathirana/django_deploy_with_ansible.git
[submodule "wagtailmap"]
	path = wagtailmap
	url = https://github.com/asselapathirana/wagtailmap.git
